/**
 * 版权所有: 爱WiFi无线运营中心
 * 创建日期: 2017-01-18 19:11
 * 创建作者: 朱学煌 17705818601@189.cn
 * 文件名称: loading
 * 版本: v1.0
 * 功能: xx
 * 修改记录: xx
 */

.loading-overlay {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.5);
	transition: all .6s;
	display:none;
}
.show-loading{
	display:block;
}
.sk-three-bounce {
	position: absolute;
	top: 50%;
	left: 50%;
}

.sk-three-bounce .sk-child {
	width: 20px;
	height: 20px;
	background-color: salmon;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
	animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes sk-three-bounce {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}