/**
 * 版权所有: 爱WiFi无线运营中心
 * 创建日期: 2017-02-16 11:11
 * 创建作者: haoxu 
 * 文件名称: modify
 * 版本: v1.0
 * 功能: xx
 * 修改记录: xx
 */
//@import "button.scss";
//@import "buttons.scss";
//@import "input-group.scss";
.config{
    width:28%;
    margin:0 auto;
    margin-top:150px;
    .buttons{
        width:70%;
        margin-left:25%;
        button{
            width:45%;
        }
    }
}